[Unit]
Description=Betaflight
After=sscrpcd.service
Requires=sscrpcd.service

[Service]
Restart=always
RestartSec=1s
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/voxl-betaflight

[Install]
WantedBy=multi-user.target
